.primerasCard
{
display: flex;
justify-content: center;
}
.segundasCard
{
display: flex;
justify-content: center;
}
.card img
{
    height: 200px;
    
}
.card
{
    margin: 15px;
}
nav h1
{
    display: flex;
    justify-content: center;
}
.redes
{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.containerfooter
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

